*{
    margin: 1.5%;
    font-family: "DM Sans";
}
.header{
    width: 93%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    
    }
.header .menu{
    width: 624px;
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.link{
    text-decoration: none;
    color: black;
}
.body1{
    height: 1822px;
}
.banner{
    width: 96%;
    height: 35%;
}
.banner .banner-img{
    width: 100%;
    max-width: 1248px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
.banner .slide{
    width: 8.5%;
    height: 3%;
    align-self: flex-end;
}
.banner .subimage{
    width: 395px;
    height: 150px;
}
.banner .subimage .gold{
    color: aliceblue;
    font-size: 33px;
    font-family: 'DM Sans';
}
.banner .subimage .pri{
    color: aliceblue;
    font-size: 26px;
    font-family: 'DM Sans';
}.banner .subimage .view{
    border: #FFFFFF solid 2px;
    color: #FFFFFF;
    display: flex;
    padding: 10px 10px;
    border-radius: 6px;
    width: 100px;
}
.card-top {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.card-top .shop{
font-size: 33px;
}
.card-top .all0{
    color: #A18A68;
    font-size: 20px;

}
    
.cards {
        height: 45%;
        width: 93%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -5px;
    }
    
.product {
        background-color: #fff;
        border-radius: 4px;
        padding-right: 30px;
        max-width: 300px;
    }
    
.product img {
    width: 377px;
    height: 380px;
    }
    
.product .product-title {
        font-size: 20px;
        color: #333;
    }
    
.product .product-prix {
        font-size: 14px;
        color: #A18A68;
        margin-bottom: 20px;
    }
.body2{
    width: 1150px;
    height: 1600px;
    border-radius: 8px;
    margin-left: 70px;
}
.body2 .about{
width: 1127.75px;
display: flex;
flex-direction: column;
align-items: center;
}
.body2 .about .titre{
    font-size: 33px;
}
.body2 .about .phrase1{
    font-size: 20px;
}
.phrase2{
    width: 1146.58px;
    height: 111px;
    font-size: 16px;

}
.top2{
    width: 220.76px;
    font-size: 26px;

}
.image2{
    max-width: 100%;
}
.phrase3{
    width: 1146.58px;
    height: 54px;
    font-size: 16px;
}
.phrase4{
    width: 1120.91px;
    height: 82px;
    font-size: 14px;
}
.top3{
    width: 400.45px;
    font-size: 26px;
}
.phrase5{
    width: 1146.58px;
    height: 106px;
}
.footer{
    width: 1248px;
    height: 159px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.contact{
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #707070;
}
.center-foot{
    display: flex;
    justify-content: space-between;
}
.put-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.put{
    width: 396px;
    display: flex;
    justify-content: space-between;
}
.mail{
    border:#fff;
    width: 243px;
    font-size: 16px;
    margin: 0%;
}
.icons{
    width: 170px;
    height: 19px;
    align-self: end;
}
.all{
    width: 1248px;
}
.productt{
    display: flex;
    height: 850px;
    width: 1248px;
    margin-top: 40px;
}
.imgs{
    width: 50%;
}
.big-image{
    height: 570px;
    width: 630px;
}
.lil-imgs{
    display: flex;
    justify-content: space-between;
    width: 655px;
    margin: 0;
}
.lil{
    height: 160px;
    width: 181px;
}
.details{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.title{
    font-size: 32px;
    height: 44px;
}
.price{
    font-size: 24px;
    height: 36px;
    color: #A18A68;
}
.review{
    width: 360px;
    height: 40px;
    margin-top: 20px;
}
.dtl{
    font-size: 24px;
    width: 343px;
    height: 43px;
    margin-top: 70px;
}
.dtl1{
    width: 330px;
    height: 180px;
    margin-left: 70px;
}
.dtl2{
    font-size: 20px;
    color: #676767;
}
.quantite{
    height: 60px;
    width: 300px;;
    background-color: #EFEAEA;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
}
.btn{
    padding: 0;
    background: none;
}
.achats{
    height: 74px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-left: 90px;
    margin-top: 40px;
}
.buy{
    background-color: #A18A68;
    width: 110px;
    color: #fff;
    padding: 10px;

}
.ajouter{
    color: #A18A68;
    padding: 10px;
    text-decoration: underline;
}
.description{
    height: 500px;
    width: 1248px;
}
.des{
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.des1{
    font-size: 20px;
    color: #676767;
}
.all1{
    height: 1200px;
    width: 1248px;
}
.panier{
    height: 55px;
    width: 135px;
    font-size: 32px;
    margin-left: 624px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.boxes{
    width: 1260px;
    height: 525px;
    display: flex;
}
.box1{
    width: 50%;
}
.box2{
    width: 50%;
    background-color: #EFEAEA;
}
.ligne1{
    height: 135px;
    width: 580px;
    display: flex;
    justify-content: space-between;
}
.tp{
    height: 125px;
    width: 290px;
}
.remove{
    height: 61px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.qbox{
    background-color: #D9D9D9;
    width: 50px;
    height: 50px;
    font-size: 32px;
    padding: 5px;
}
.addmore{
    margin-left: 240px;
    margin-top: 70px;
    background-color: #A18A68;
    width: 110px;
    color: #fff;
    padding: 10px;
}
.ligne3{
    width: 522px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 45px;
}
.check{
    margin-left: 190px;
    margin-top: 30px;
    background-color: #A18A68;
    width: 200px;
    color: #fff;
    padding: 10px;
}
.all5{
    height: 1200px;
    width: 1248px;
}
.big-box{
    height: 510px;
    width: 1220px;
    background-color: #D9D9D9;
    margin-left: 80px;
    display: flex;
}
.box11{
    width: 65%;
    height: 510px;
}


.cardinfo{
    font-size: 32px;
    margin-bottom: 80px;
}
.cvv{
    width: 520px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.underl{
    width: 540px;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: -22px;
}
.info{
    background-color: #D9D9D9;
    border:none;
    width: 243px;
    font-size: 16px;
    margin: 0%;
}
.confirm{
    background-color: #A18A68;
    width: 200px;
    color: #fff;
    padding: 10px;
    margin-top: 150px;
    margin-left: -40px;
}
.touchpic{
    margin: 0px;
    text-decoration: none;
}
.lgpanier{
    margin: 0px;
    color: #333;
}
.livbox{
    height: 320px;
    width: 900px;
    display: flex;
    flex-direction: column;
    background-color: #EFEAEA;
    margin-left: 250px;
    margin-bottom: 100px;
}
.trackid{
    background-color: #d2d2d2;
    height: 75px;
    width: 100%;
    margin: 0%;
    font-size: 24px;
}
.livstatus{
    font-size: 28px;
}



    

