*{
    margin-left: 15px;
}
.header{
    width: 1248px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    
    }
.header .menu{
    width: 624px;
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    }
.body1{
    height: 1822px;
}
.banner .banner-img{
    width: 1248px;
    height: 646px;
    }
.banner .slide{
    width: 107.43px;
    height: 16px;
    position: absolute;
    left: 650px;
    top: 650px;
}
.banner .subimage{
    width: 395px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 100px;
}
.banner .subimage .gold{
    color: aliceblue;
    font-size: 33px;
    font-family: 'DM Sans';
}
.banner .subimage .pri{
    color: aliceblue;
    font-size: 26px;
    font-family: 'DM Sans';
}.banner .subimage .view{
    display: flex;
    width: 193px;
    height: 53px;
    border-radius: 6px;
}
.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.card-top .shop{
font-size: 33px;
}
.card-top .all{
    margin-right: 50px;
    color: #A18A68;
    font-size: 20px;

}
    
.cards {
        height: 820px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 110px;
    }
    
    /* Styles for the products */
.product {
        background-color: #fff;
        border-radius: 4px;
        padding-right: 30px;
        max-width: 300px;
    }
    
.product img {
    width: 377px;
    height: 380px;
    }
    
.product .product-title {
        font-size: 20px;
        color: #333;
    }
    
.product .product-prix {
        font-size: 14px;
        color: #A18A68;
        margin-bottom: 20px;
    }
.body2{
    width: 1150px;
    height: 1425px;
    border-radius: 8px;
    margin-left: 70px;
}
.body2 .about{
width: 1127.75px;
display: flex;
flex-direction: column;
align-items: center;
}
.body2 .about .titre{
    font-size: 33px;
}
.body2 .about .phrase1{
    font-size: 20px;
}
.phrase2{
    width: 1146.58px;
    height: 111px;
    font-size: 16px;

}
.top2{
    width: 220.76px;
    font-size: 26px;

}
.image2{
    max-width: 100%;
}
.phrase3{
    width: 1146.58px;
    height: 54px;
    font-size: 16px;
}
.phrase4{
    width: 1120.91px;
    height: 82px;
    font-size: 14px;
}
.top3{
    width: 400.45px;
    font-size: 26px;
}
.phrase5{
    width: 1146.58px;
    height: 106px;
}


    

